{% extends "base.html" %}
{% block content %}
<h1 class="page-title">New Maintenance Log</h1>

<form method="post" class="formbox">
  {% csrf_token %}

  <div class="fieldset">
    <h3 style="margin:0 0 8px 0">Log Details</h3>
    {{ form.as_p }}
  </div>

  <div class="fieldset">
    <h3 style="margin:0 0 8px 0">Steps</h3>
    {{ formset.management_form }}
    {% for f in formset %}
      <div class="step">
        {{ f.as_p }}
      </div>
    {% endfor %}
  </div>

  <div>
    <button class="btn btn-primary" type="submit">Save Log</button>
    <a class="btn" href="{% url 'maintenance:log_list' %}">Cancel</a>
  </div>
</form>
{% endblock %}
